@using BSIGeneralAffairBLL.DTO.Brand
@using System.Globalization
@model IEnumerable<BSIGeneralAffairBLL.DTO.Brand.BrandDTO>

@{
    BrandCreateDTO user = new BrandCreateDTO();
    ViewData["Title"] = "List Brand";
}

<h2>List Brand </h2>
@Html.Raw(ViewBag.Message)
<p>
    <a asp-action="Create" class="btn btn-success ">Create New</a>
</p>
<table class="table" id="tblbrand">
    <thead>
        <tr>
            <th>
                Brand Name
            </th>
            <th>
                Update At
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a href="/Brand/Edit/@item.BrandID"  class="btn btn-warning">edit</a>
                    <a href="/Brand/Delete/@item.BrandID" class="btn btn-danger">delete</a>
                    @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        <script>
            $(document).ready(function () {
                $('#tblbrand').DataTable();
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
    }
}